@font-face{
    font-family: Beguiat;
    src: url('assets/fonts/Benguiat Bold.tff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    
}


/* Início header */
header{
    margin-bottom: 50px;
    font-family: 'Benguiat';
}

div#letreiro{
    width: 100%;
    height: 55px;
    background-color: #B41010;
    color: white;
    font-size: 1.3em;
    text-align: center;
    
    
}

nav{
    background-color: #B41010;
    height: 26px;
    margin-top: 0px;
    padding-top: 0px;
}

ul{
    list-style: none;
    text-align: right;

}

ul > li{
    display: inline;
    
}

ul > li > a{
    padding: 2px 10px;
    border-right: 3px solid white;
}

a{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

a:hover{
    color: #061141;
    transition-duration: 0.3ms;
}

div#imagem_header{
    margin-top: 27px;
    height: 50px;
}

img#img_header{
    width: 1353px;
    height: 100px;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: auto;
    opacity: 0.5;   
}

/*  Fim header  */


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

h2{
    font-size: 2.5em;
}
span{
    color: #B41010;
}
p{
    color: white;
    font-size: 1.5em;
    text-align: justify;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: right;  
}

aside{
    width: 500px;
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

img#imagem_principal{
    width: 500px;
    height: 570px;
    opacity: 0.4;
}









 